<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">{{ title }}</div>

                    <div class="card-body">
                        {{ text }}
                        <p>You clicked me {{ counter }} times !</p>
                        <button @click="count">Count</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                counter: 0
            }
        },

        methods: {
            count() {
                this.counter++;
            }
        },

        props: {
            title: { type: String, required: false, default: "Example Component" },
            text: { type: String, required: false, default: "I'm an example component"},
        }
    }
</script>
