<template>
  <v-flex xs12 sm8 md4>
    <v-card class="elevation-12">
      <v-toolbar dark color="indigo">
        <v-toolbar-title>Login form</v-toolbar-title>
        <v-spacer></v-spacer>
        
        <v-tooltip right>
          <v-btn slot="activator" icon large href="https://codepen.io/johnjleider/pen/wyYVVj" target="_blank">
            <v-icon large>mdi-codepen</v-icon>
          </v-btn>
          <span>Codepen</span>
        </v-tooltip>
      </v-toolbar>
      <v-card-text>
        <v-form @submit.prevent="login">
          <v-label><v-text-field prepend-icon="person" name="login" label="Login" type="text" v-model="email"></v-text-field></v-label>
          <v-label><v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password" v-model="pwd"></v-text-field></v-label>
          <v-btn type="submit" color="primary">Login</v-btn>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
  import axios from 'axios';
  export default {
    name: "LoginForm",
    
    data () {
        return {
            email: '',
            pwd: ''
        }
    },

    methods: {
      login () {
        axios.post("http://localhost:8000/oauth/token" ,{
          grant_type: "password",
          client_id: 2,
          client_secret: "8y7Li1KVvfk80Rk0c87ep9okHJiXyISTi8bqfKZq",
          username: this.email,
          password: this.pwd
        }).then(response => {
          console.log(response.data)
          this.email = ""
          this.pwd = ""
        })
        .catch(error => console.error(error));
      }
    },
  }
</script>